@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');
.parent{
    padding-top: 2em;
    padding-bottom: 10em;
}

.maincomponent{
    background: linear-gradient(to bottom, rgb(7, 70, 179) 15.9%, rgb(91, 116, 216) 96.7%);
    padding-bottom: 50em;
    margin:0 auto;
    width:90%;
    border-radius: 2rem;
    text-align: center;
    align-items: center;
    
}
h1{
    font-family: 'roboto';
    color:white;
    padding-top:2rem;
    font-size: 2.5rem;
}